
#preview_img { width: 100%; }

/** DATATABLES styling **/
.grid-x > .small-6.columns { display: block; width: 100%; }
.dataTables_filter > label { margin-right: 20px !important; }
.dataTables_info { margin-left: 20px !important; }
.dataTables_paginate { margin-right: 20px !important; }
#table > thead > tr > th:last-child { min-width: 80px !important; }


.dataTables_wrapper input[type="search"] {
    background: #f8f9fa;
    border: 1px solid #dfdfdf;
}

.dataTables_wrapper .paginate_button {
    padding: .5rem .75rem !important;
    line-height: 1.25 !important;
    border: 1px solid #dee2e6 !important;
    background: #fff !important;
}

.dataTables_wrapper .current, .paginate_button:hover {
    background: #e7e7e7 !important;
}

.dataTables_paginate {
    margin-top:10px;
    margin-bottom:10px;
}

.table-responsive table { width: 100% !important; overflow: scroll; }

.membercard-preview {
    border-radius: 5px;
    margin: 10px;
    padding:10px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}

.membercard-logo {
    width:150px;
    height:150px;
    position: absolute;
    top:25px;
    left: 50%;
    margin-left: -75px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid #dee2e6 !important;
}

.avatar { height: 150px; }
